.table {
    border-collapse: collapse;
    margin: 20px auto;
}

.table td,.table th {
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #efefef;
}